<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.focusguard.performance.PerformanceInputActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.FocusGuard"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
